<div id="<%= dom_id book %>">
  <p>
    <strong>Tittle:</strong>
    <%= book.tittle %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= book.score %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

</div>
